<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Đăng nhập</title>
</head>
<body>
<h2>Đăng nhập hệ thống thư viện</h2>

<form th:action="@{/login}" method="post">
    <div>
        <label>Tên đăng nhập:</label>
        <input type="text" name="username" required>
    </div>
    <br>
    <div>
        <label>Mật khẩu:</label>
        <input type="password" name="password" required>
    </div>
    <br>
    <button type="submit">Đăng nhập</button>
</form>

<p th:if="${param.error}" style="color:red;">
    Sai tên đăng nhập hoặc mật khẩu
</p>

<p th:if="${param.logout}" style="color:green;">
    Đăng xuất thành công
</p>
</body>
</html>